body{
    background: rgb(72, 72, 236);
    font: normal 15pt Arial;



}

header{
    color:rgb(255, 255, 255);
    text-align: center;

}

section{
    background: rgba(255, 255, 255, 0.677);
    border-radius: 10px;
    padding:15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);

}

footer{
    color:white;
    text-align:center;
    font-style: italic;

}

div{
    padding: 8px;
}


img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

#foto{
    text-align: center;
}


